extends ../../layouts/backend_layout

block content 
  main#main.main.checkout
    .row.align-items-center.site-breadcrumb.mb-3
      h1 Checkout
      nav
        ol.breadcrumb
          li.breadcrumb-item
            a(href=`${store_id}/dashboard`) Dashboard
          li.breadcrumb-item.active Checkout

    section.section.profile
      form#customize_checkout_form.row(method="post")
        input.form-control( type= 'hidden', name= "store_id", value= store_id)
        input.form-control(
          type= 'hidden',
          name= "customize_checkout_id",
          value= (customize_checkout ? customize_checkout.id : "")
        )

        // General Sections
        .row
          .col-xl-4
            div
              .profile-card.d-flex.flex-column.card_lef
                h2 General           
                h6 Customize the look and feel of your checkout       
                div.text-center.text-sm-start
                  a.btn.btn-primary.mb-4.mb-xl-0(href=`/${store_id}/preview-checkout` type="button") PREVIEW CHECKOUT
          .col-xl-8
            .card
              .card-body.pt-3.form_input
                .tab-content.pt-2
                  .col-12.displaynone
                    label.form-label Money Format
                    input.form-control(
                      type= 'text',
                      name= "money_format",
                      placeholder ="120"
                      value= (customize_checkout ? customize_checkout.money_format : '')
                    )
                  .col-12
                    label.form-label Store logo(image_url)
                    input.form-control(
                      type= 'url',
                      name= "store_logo",
                      value= (customize_checkout ? customize_checkout.store_logo : '')
                      required
                    )
                  .col-12
                    label.form-label Favicon(image_url)
                    input.form-control(
                      type= 'url',
                      name= "favicon",
                      value= (customize_checkout ? customize_checkout.favicon : '')
                       required
                    )
                  .col-12
                    label.form-label Security Badge(image_url)
                    input.form-control(
                      type= 'url',
                      name= "security_badge",
                      value= (customize_checkout ? customize_checkout.security_badge : '')
                    )

                  .col-12.color_options
                    .row
                      .col-md-4
                        label.form-label Custom Accent Color
                        input.form-control(
                          type= 'color',
                          name= "accent_color",
                          value= (customize_checkout ? customize_checkout.accent_color : '#012970')
                        )
                      .col-md-4
                          label.form-label Custom Buttons Color
                          input.form-control(
                            type= 'color',
                            name= "button_color",
                            value= (customize_checkout ? customize_checkout.button_color : '#1A1A1A')
                          )
                      .col-md-4
                            label.form-label Custom Error Color
                            input.form-control(
                              type= 'color',
                              name= "error_color",
                              value= (customize_checkout ? customize_checkout.error_color : '#B00020')
                            )
                      
                  .col-12
                    label.form-label Font Size
                    input.form-control(
                      type= 'number',
                      name= "font_size",
                      min=11 max=30
                      onkeypress="if(isNaN( String.fromCharCode(event.keyCode) )) return false;"
                      message="You can give font-size 11 to 30 only"
                      value= (customize_checkout ? customize_checkout.font_size : 12)
                    )
                    span(id="errorMsg" style="display:none;") you can give score -10 to +10 only

                  .col-12
                    label.form-label Returns privacy URL
                    input.form-control(
                      type= 'url',
                      name= "return_policy",
                      value= (customize_checkout ? customize_checkout.return_policy : '')
                    )
                  .col-12
                    label.form-label Privacy Policy URL
                    input.form-control(
                      type= 'url',
                      name= "privacy_policy",
                      value= (customize_checkout ? customize_checkout.privacy_policy : '')
                    )
                  .col-12
                    label.form-label Terms and condition URL
                    input.form-control(
                      type= 'url',
                      name= "terms_condition",
                      value= (customize_checkout ? customize_checkout.terms_condition : '')
                    )
                  .col-12
                    input.form-check-input.me-2(
                      type='checkbox',
                      name="require_phone_number"
                      checked= (customize_checkout && customize_checkout.require_phone_number===true ? true : false)
                    )
                    | Require a phone number at checkout
                  .col-12
                    input.form-check-input.me-2(
                      type='checkbox',
                      name="require_address_number"
                      checked= (customize_checkout && customize_checkout.require_address_number===true ? true : false)
                    )
                    | Require an address number in the address field

                  .col-12
                    input.form-check-input.me-2(
                      type='checkbox',
                      name="check_accepts_marketing"
                      checked= (customize_checkout && customize_checkout.check_accepts_marketing===true ? true : false)
                    )
                    | Pre-check email marketing checkbox
                  .col-12
                    input.form-check-input.me-2(
                      type='checkbox',
                      name="display_timer"
                      checked= (customize_checkout && customize_checkout.display_timer===true ? true : false)
                    )
                    | Display a scarcity timer on the Checkout
                  .col-12
                    input.form-check-input.me-2(
                      type='checkbox',
                      name="display_branding"
                      checked= (customize_checkout && customize_checkout.display_branding===true ? true : false)
                    )
                    | Display &quot;Powered by Checkout Master&quot; on the checkout page
                  .col-12
                    input.form-check-input.me-2(
                      type='checkbox',
                      name="display_discount"
                      checked= (customize_checkout && customize_checkout.display_discount===true ? true : false)
                    )
                    | Display discount code field outside the shopping card on mobile


        // About Sections
        .row
          .col-xl-4
            div
              .profile-card.d-flex.flex-column.card_lef
                h2 About Sections       
                h6 Add small sections under your checkout to further convice your customers why they should trust you.     
          .col-xl-8
            .card
              .card-body.pt-3
                .tab-content.pt-2
                  div.row
                    div.col-xl-7.text-center.text-sm-start
                      h3 Actions                
                    div.col-xl-5.text-center.text-sm-end
                      button#add_section.btn.btn-primary(
                        type='button',
                        section_count= `${customize_checkout?customize_checkout.customize_about_sections.length:0}`
                      ) ADD SECTION
                  div.row

                    div.checkout_sections.accordion#section_accordion

                      if(customize_checkout && customize_checkout.customize_about_sections )
                        each customize_about_section, about_section_index in customize_checkout.customize_about_sections
                          div.accordion-item(id =`section${about_section_index}`)

                            h2(id=`heading_${about_section_index}` class=`accordion-header`)

                              button.accordion-button(
                                type='button',
                                myattr=`${about_section_index}`
                              )
                                img.img.img-thumbnail(
                                  src=`${customize_about_section.section_icon}`,
                                  alt=`${customize_about_section.section_title}`,
                                  style="max-width: 50px;margin-right: 5px;"
                                )
                                | #{customize_about_section.section_title}
                                i.bi.bi-trash.accordion-trash(id=`${customize_about_section.id}`, type='button')

                            div.accordion-collapse.collapse(
                              id=`collapse_${about_section_index}`
                              aria-labelledby=`heading_${about_section_index}`,
                              data-bs-parent='#section_accordion'
                            )
                              .accordion-body.row.sections-row
                                input.form-control.required(
                                  type="hidden"
                                  name=`section_id[${about_section_index}]`,
                                  value=`${customize_about_section.id}`
                                )
                                br
                                .col-md-12
                                  input.form-control.required(
                                    type="text"
                                    name=`section_title[${about_section_index}]`,
                                    value=`${customize_about_section.section_title}`
                                    placeholder='Section Title'
                                  )
                                  br
                                .col-md-12
                                  input.form-control.required(
                                    type="url"
                                    name=`section_icon[${about_section_index}]`,
                                    value=`${customize_about_section.section_icon}`
                                    placeholder='Section Icon(image url)'
                                  )
                                  br
                                .col-md-12
                                  textarea.form-control.required(
                                    name=`section_description[${about_section_index}]`,
                                    rows='5', placeholder='Section Text'
                                  ) #{customize_about_section.section_description}

        // Custom Scripts
        .row
          .col-xl-4
            div
              .profile-card.d-flex.flex-column.card_lef
                h2 Custom Scripts
                h6 Add custom scripts to your checkout page. Don&apos;t forget to wrap them in HTML tags             
          .col-xl-8
            .card
              .card-body.pt-3
                .tab-content.pt-2
                  .col-12
                    textarea(
                      rows='7', cols='80',
                      name="custom_script"
                      placeholder='Custom Scripts'
                    ) #{customize_checkout ? customize_checkout.custom_script : ''}

        // Thank you page
        .row
          .col-xl-4
            div
              .profile-card.d-flex.flex-column.card_lef
                h2 Thank you page
                h6 The html you add here will appear directly on the thank you page.
                div.text-center.text-sm-start
                  a.btn.btn-primary.mb-4.mb-sm-0(href=`/${store_id}/preview-thankyou` type="button") PREVIEW THANK YOU PAGE

          .col-xl-8
            .card
              .card-body.pt-3
                .tab-content.pt-2
                  .col-12
                    textarea(
                      rows='7', cols='80',
                      name="thankyou_description"
                      placeholder='Thank you page content'
                    ) #{customize_checkout ? customize_checkout.thankyou_description : ''}

        .row 
        .col-xl-4
        .col-xl-8.text-center.text-sm-start
          button#save-checkout.btn.btn-primary.save-checkout.me-sm-3.mb-2.mb-sm-0(type='submit') Save Checkout              
          button#preview-checkout.btn.btn-secondary.mb-2.mb-sm-0(
            type='submit' disabled=userSubscription
          ) Preview Checkout &amp; Publish

block scripts
  script(type='text/javascript', src='/assets/js/sweetalert.js') 
  script(type='text/javascript', src='/assets/js/sweetalert.min.js') 
  script(type='text/javascript', src='/assets/js/custom/customize_checkout.js')
  