extends ../../layouts/backend_layout

block content 
    main#main.main
        .row.align-items-center.site-breadcrumb.mb-3
            h1 Automatic Discount
            nav
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href=`/${store_id}/dashboard`) Dashboard
                    li.breadcrumb-item
                        a(href=`/${store_id}/discounts`) Automatic Discounts
                    li.breadcrumb-item.active Add Discount 

        section.section.add-shipping-rate
            form#automatic_discount.row(method="post")
                input.form-control( type= 'hidden', name= "store_id", value= store_id)
                if(automatic_discount)
                    input.form-control( type= 'hidden', name= "id", value= automatic_discount.id)

                div.row
                    h4 Automatic Discounts
                    div.col-xl-8
                        div.card
                            div.card-body.pt-3
                                div.tab-content.fi_tb
                                        div.form-group
                                            label Discount title
                                            input.form-control.required(
                                                type='text'
                                                name="discount_title"
                                                id="discount_title"
                                                value= (automatic_discount && automatic_discount.discount_title? automatic_discount.discount_title : '')
                                            )
                                            span *Customers will see this at your checkout.

                                        div.form-check
                                            input#discountUsage.form-check-input(type='checkbox',name="discount_usage_bool"  checked= automatic_discount && automatic_discount.discount_usage_bool == true? true : false)
                                            label.form-check-label(for='discountUsage')
                                                | Set a maximum discount usage   
                                        div.form-group#discountUsageChecked    
                                            input.form-control(
                                                type='number'
                                                name="discount_usage"
                                                id="discount_usage"
                                                value= automatic_discount && automatic_discount.discount_usage? automatic_discount.discount_usage : '')

                                        hr
                                        label Active Dates
    
                                div.card-section.tab-content.pt-2
                                    div.row.mb-3
                                        div.input-group.col
                                            span.input-group-text From
                                            input.form-control.required(type='date' , id="active_from_date", name="active_from_date", value= automatic_discount && automatic_discount.active_from_date? automatic_discount.active_from_date : '') 
                                            
                                        div.input-group.col
                                            span.input-group-text Starts at
                                            input.form-control(type='time' ,name="active_start_time", value= automatic_discount && automatic_discount.active_start_time? automatic_discount.active_start_time : '')
                                  
                                    .form-check
                                        input#activeEndDate.form-check-input(type='checkbox' )
                                        label.form-check-label(for='activeEndDate')
                                        | Set end date and time 
                                    div#end-datetime
                                        div.row.mb-3 
                                            div.input-group.col
                                                span.input-group-text To
                                                input.form-control(type='date' , id="active_to_date", name="active_to_date" , value= automatic_discount && automatic_discount.active_to_date? automatic_discount.active_to_date : '')
                                                
                                            div.input-group.col
                                                span.input-group-text Ends at
                                                input.form-control(type='time' , name="active_end_time" , value= automatic_discount && automatic_discount.active_end_time? automatic_discount.active_end_time : '')              
                    div.col-xl-4 
                        h4  Summary
                        div.card
                            div.card-body.pt-3
                                div.tab-content.pt-2
                                    div.card-item
                                        ul.ul-list
                                            if(automatic_discount)
                                                button.btn.btn-primary(style="float:right;border-radius:10px") Active                                             
                                            li#discount_type #{automatic_discount && automatic_discount.discount_type ? automatic_discount.discount_type:'Percentage' } 
                                            li#discount_rate  #{automatic_discount && automatic_discount.percentage_discount_value ?'Discounted '+ automatic_discount.percentage_discount_value +' %':'Discounted %' }  
                                            li#order_item 
                                                if(automatic_discount && automatic_discount.entire_order_bool)
                                                    |Entire order
                                                else if(automatic_discount && automatic_discount.specific_order_bool)
                                                    |Specific items 
                                                else 
                                                    |Entire order   

                                            li#cart_limit #{ automatic_discount &&  automatic_discount.cart_minimum_quantity?'Minimum quantity reached in cart of ' + automatic_discount.cart_minimum_quantity +' items' :'Minimum quantity reached in cart of 1 item'}
                                            li#active_date #{ automatic_discount && automatic_discount.active_from_date?'Active from ' + moment(automatic_discount.active_from_date).format('DD.MM.YYYY'): 'Active from 16 Jan 2023'} 
                                            if(automatic_discount)
                                                hr
                                                div Performance
                                                span No one used your discount


                        div.card
                            div.card-body.pt-3
                                div.tab-content.pt-2
                                    div.card-item
                                        h6 CAN’T COMBINE WITH OTHER DISCOUNTS
                                        ul.ul-list 
                                            li Customers will be able to override the automatic discount with their discount code.
                                            li.pt-3 If two automatic discounts are applicable, the one with the best value for the customer will be activated
                                            a(href="#").read_more Read more about automatic discounts

                 
                    div.col-xl-8#content_discount
                        h4 Discount Type
                        div.card
                            div.card-body.pt-3
                                div.tab-content.pt-2
                                    div.card-items-wrapper
                                        div.card-item
                                            .form-check
                                                input#discount_type_buy.form-check-input(type='radio' , name ="discount_type_buy" ,checked=automatic_discount && automatic_discount.discount_type =="Buy X Get Y"? true : false)
                                                label.form-check-label(for='discount_type_buy')
                                                | Buy X Get Y     
                                            .form-check

                                                input#discount_type_percentage.form-check-input(type='radio',name ="discount_type_percentage" , checked=automatic_discount && automatic_discount.discount_type =="Percentage"? true : false)
                                                label.form-check-label(for='discount_type_percentage')
                                                | Percentage     
                                            .form-check
                                                input#discount_type_fixed.form-check-input(type='radio',name ="discount_type_fixed",checked=automatic_discount && automatic_discount.discount_type =="Fixed Amount"? true : false)
                                                label.form-check-label(for='discount_type_fixed')
                                                    | Fixed Amount      
                                            .form-check
                                                input#discount_type_free_shipping.form-check-input(type='radio',name ="discount_type_freeshipping" , checked=automatic_discount && automatic_discount.discount_type =="Free Shipping"? true : false)
                                                label.form-check-label(for='discount_type_free_shipping')
                                                   | Free Shipping     
                        div.buy-discount-type
                            h4 Discount applies when
                            p Customer buys any of the following products. You can add both collection and products

                        div.card.buy-discount-type
                            div.card-body.pt-3
                                div.card-item   
                                    p When customer buys 
                                    .form-check
                                        input#minimum_quantity_cart.form-check-input(type='radio' , name="cart_minimum_quantity_bool",checked=automatic_discount && automatic_discount.cart_minimum_quantity_bool ==true? true : false)
                                        label.form-check-label(for='minimum_quantity_cart')
                                        | Minimum quantity reached in cart     
                         
                                    div.form-group#minimum_quantity_cart_check 
                                        input.form-control.required.pt-3(
                                            type='number'
                                            name="cart_minimum_quantity"
                                            id="cart_minimum_quantity"
                                            placeholder="Set minimum quantity"
                                            value=automatic_discount && automatic_discount.cart_minimum_quantity? automatic_discount.cart_minimum_quantity : "1"
                                        )
                                    .form-check
                                        input#cart_minimum_amt.form-check-input(type='radio',name="cart_amount_quantity_bool" , checked=automatic_discount && automatic_discount.cart_amount_quantity_bool ==true? true : false)
                                        label.form-check-label(for='cart_minimum_amt')
                                        | Minimum amount reached in cart    
                         
                                    div.form-group#minimum_amount_cart_check 
                                        input.form-control.required.pt-3(
                                            type='number'
                                            name="cart_minimum_amount"
                                            id="cart_minimum_amount"
                                            placeholder="Set minimum amount"
                                            value=automatic_discount && automatic_discount.cart_minimum_amount ? automatic_discount.cart_minimum_amount : ''
                                        )
                                    hr
                                    div
                                        span Any of the selected items
                                        button.btn.btn-primary(style="float:right;" ,type = "button" ,id="add_collection") ADD COLLECTIONS
                                        button.btn.btn-primary(style="float:right;" , type = "button", id="add_products" ) ADD PRODUCTS
                                br
                                div#products-listing
                                    if(automatic_discount && automatic_discount.product_ids.length > 0)
                                    
                                        each product_id in automatic_discount.product_ids
                                        
                                            if(product_id.includes("1"))
                                                .container   
                                                    .row(id=`product1`, name=`product_ids[1]`)
                                                        .col-md-2
                                                            img.w-full.h-full.object-contain(src=`https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589`, width='70', height='50')
                                                        .col-md-6
                                                            p  Testing 1
                                                            p.variants.variant 3/3 variant selected
                                                        .col-md-2.edit-variants(type="button" , id="variant_1") Edit Variants
                                                        .col-md-2
                                                            i.bi.bi-trash.delete-product(id=`1`, type='button')
                                                br            
                                            if(product_id.includes("2"))
                                                .container
                                                    .row(id=`product2`, name=`product_ids[2]`)
                                                        .col-md-2
                                                            img.w-full.h-full.object-contain(src=`https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589`, width='70', height='50')
                                                        .col-md-6
                                                            p Testing 2
                                                            p.variants.variant 3/3 variant selected
                                                        .col-md-2.edit-variants(type="button" ,id="variant_2") Edit Variants
                                                        .col-md-2
                                                            i.bi.bi-trash.delete-product(id=`2`, type='button')
                                            if(product_id.includes("3"))
                                                .container
                                                    .row(id=`product3`, name=`product_ids[3]`)
                                                        .col-md-2
                                                            img.w-full.h-full.object-contain(src=`https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589`, width='70', height='50')
                                                        .col-md-6
                                                            p  Testing 3
                                                            p.variants.variant 3/3 variant selected
                                                        .col-md-2.edit-variants(type="button" ,id="variant_3") Edit Variants
                                                        .col-md-2
                                                            i.bi.bi-trash.delete-product(id=`3`, type='button')
                                br
                                div#product-list
                               



                        div.buy-discount-type 
                            h4 Customer will get  
                            p Customer needs to add any of the following items in their shopping cart to take advantage of the discount.

                        div.card.buy-discount-type 
                            div.card-body.pt-3
                                div.card-item   
                                    .form-check
                                        input#discount_free.form-check-input(type='radio' , name="customer_free_discount_bool" , checked=automatic_discount && automatic_discount.customer_free_discount_bool ==true ? true : false)
                                        label.form-check-label(for='discount_free')
                                        | Free   
                                    .form-check
                                        input#discount_percentage.form-check-input(type='radio' , name="customer_percentage_discount_bool" , checked=automatic_discount && automatic_discount.customer_percentage_discount_bool ==true ? true : false)
                                        label.form-check-label(for='discount_percentage')
                                        | Percentage discount  
                                    div.pt-3  
                                        div.form-group#cus_p_discount 
                                            div.input-group.col
                                                input.form-control(
                                                    type='number'
                                                    name="customer_percentage_discount"
                                                    id="customer_percentage_discount"
                                                    placeholder = "Add discount"
                                                    value=automatic_discount && automatic_discount.customer_percentage_discount ? automatic_discount.customer_percentage_discount  : ''
                                                )
                                                span.input-group-text %  
                                        hr
                                        div
                                            p For how many items the discount applies
                                            input.form-control(
                                                type='number'
                                                name="maximum_discount_usage"
                                                id="maximum_discount_usage"
                                                placeholder = "Add amount of items your customer will get"
                                                value=automatic_discount && automatic_discount.maximum_discount_usage ? automatic_discount.maximum_discount_usage  : ''

                                            )
                                            div.pt-3
                                                span Any of the selected items
                                                |  
                                                button.btn.btn-primary(style="float:right;" type="button" ,id="add_collection") ADD COLLECTIONS
                                                button.btn.btn-primary(style="float:right;", type="button", id="add_products" ) ADD PRODUCTS

                        div.buy-discount-type 
                            h4 Additional options
                            div.card
                                div.card-body.pt-3
                                    div.card-item   
                                        .form-check
                                            input#additionalOptions.form-check-input(type='checkbox',name="discount_additional_options_bool")
                                            label.form-check-label(for='additionalOptions')
                                            |  Set a maximum discount usage per order  
                                        div.form-group.pt-3#additional_options
                                            input.form-control(
                                                type='number'
                                                name="maximum_discount_usage_per_order"
                                                id="maximum_discount_usage_per_order"
                                                value=automatic_discount && automatic_discount.maximum_discount_usage_per_order ? automatic_discount.maximum_discount_usage_per_order  : ''

                                            )
                                            p *You can restrict the applicable discount by set a maximum number. For example if your customer adds 10 T-Shirts which will trigger a discount, 1 discount per 1 T-Shirt, in total your customer can get up to 10 discounted items.

                        div.percentage-discount-fixed
                            h4 Discount Setup
                        div.card.percentage-discount-fixed
                            div.card-body.pt-3
                                div.card-item   
                                    p.discount_value Discount value 
                                    div.input-group.col.discount_value
                                        input.form-control(
                                            type='number'
                                            name="percentage_discount_value"
                                            id="percentage_discount_value"
                                            placeholder = "Add discount"
                                            value=automatic_discount && automatic_discount.percentage_discount_value ? automatic_discount.percentage_discount_value  : ''

                                        )
                                        span.input-group-text#p_discount %
                                        span.input-group-text#p_discount_amt EUR    

                                    hr
                                    p.percentage-discount-criteria Discount application criteria
                                    div.percentage-discount-criteria
                                    .form-check
                                        input#discount_cart.form-check-input(type='radio',name ="cart_mini_quantity_bool",  checked=automatic_discount && automatic_discount.cart_minimum_quantity_bool ? true :false)
                                        label.form-check-label(for='discount_creteria_cart')
                                        | Minimum quantity reached in cart     
                                    div.form-group#mini_quantity_cart_check_reached    
                                        input.form-control(
                                            type='number'
                                            name="cart_mini_quantity"
                                            id="cart_mini_quantity"
                                            value=automatic_discount && automatic_discount.cart_minimum_quantity ? automatic_discount.cart_minimum_quantity  : '1'

                                        )
                                    .form-check
                                        input#amount_bool.form-check-input(type='radio' , name="cart_mini_amount_bool")
                                        label.form-check-label(for='amt_bool')
                                        | Minimum amount reached in cart   
                                    div.form-group#mini_amount_cart_check    
                                        input.form-control(
                                            type='number'
                                            name="cart_amt_quantity"
                                            id="cart_amt_quantity"
                                            value=automatic_discount && automatic_discount.cart_amount_quantity ? automatic_discount.cart_amount_quantity :''
                                        )

                        div.percentage-discount-fixed 
                            h4.discount_applies Discount applies on
                            div.card.discount_applies
                                div.card-body.pt-3
                                    div.card-item   
                                        .form-check
                                            input#entire_order.form-check-input(type='radio', name="entire_order_bool" ,  checked= (automatic_discount && automatic_discount.entire_order_bool===true ? true : true))
                                            label.form-check-label(for='entire_order_bool')
                                            | Entire Order  
                                        .form-check
                                            input#specific_order.form-check-input(type='radio',name="specific_order_bool" ,  checked=automatic_discount && automatic_discount.specific_order_bool==true ? true :false)
                                            label.form-check-label(for='specific_order_bool')
                                            | Specific products and collections  
                                        div.pt-3#specific_order_display
                                            span Customer gets any of the selected items with a 
                                            button.btn.btn-primary(style="float:right;" , type = "button" , id="add_collection") ADD COLLECTIONS 
                                            button.btn.btn-primary(style="float:right;" , type = "button" , id="add_products" ) ADD PRODUCTS

                                            span discount     
                            hr
                            div#specific_order_display_fixed 
                                h5 How to apply the discount
                                div.card
                                    div.card-body.pt-3
                                        div.card-item   
                                            .form-check
                                                input#all_items.form-check-input(type='radio' , name="discount_all_items", checked=automatic_discount && automatic_discount.discount_all_items==true ? true :false)
                                                label.form-check-label(for='all_items')
                                                | Apply discount once for all items
                                            .form-check
                                                input#discount_each_item.form-check-input(type='radio' , name="discount_each_item" , checked=automatic_discount && automatic_discount.discount_each_item==true ? true :false)
                                                label.form-check-label(for='discount_each_item')
                                                | Apply discount on each item
                                                
                            div#discount_exclude 
                                .form-check
                                    input#exclude_shipping.form-check-input(type='checkbox',name="exclude_shipping_bool" , checked=automatic_discount && automatic_discount.exclude_shipping_bool==true ? true :false)
                                    label.form-check-label(for='exclude_shipping')
                                    | Exclude shipping rates over a certain amount
                                    div#exclude_shipping_amt
                                        div.input-group.col.pt-3
                                            input.form-control(
                                                type='number'
                                                name="exclude_shipping_amount"
                                                id="exclude_shipping_amount"
                                                value=automatic_discount && automatic_discount.exclude_shipping_amount ? automatic_discount.exclude_shipping_amount :''
                                            )
                                            span.input-group-text EUR


                    div#productPicker.modal.fade( tabindex='-1')
                        div.modal-dialog.modal-dialog-scrollable.modal-lg
                            div.modal-content
                                div.modal-header
                                    h5#exampleModalLabel.modal-title Select Products                                       
                                   
                                    div.custom-control.custom-checkbox.niner
                                   
                                        input#selectall-products.custom-control-input( type='checkbox')
                                        label.mrk.custom-control-label(for="selectall-products")
                                        p Select all                                        
                                p#product_selected 0 selected    
                                div.modal-body
                                    div.modal-section
                                        div.modal-section-header
                                            input.check-product.form-control(placeholder='Search for products')
                                        .row
                                            .columns.left
                                                div.form-check
                                                    input.check-product.form-check-input(type='checkbox' ,id="1")
                                            .columns.middle
                                                img.w-full.h-full.object-contain(src='https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589' ,id="1_img")
                                            .columns.right
                                                p.text-product(id="1_desc")  Testing 1
                                        .row
                                            .columns.left
                                                div.form-check
                                                    input.check-product.form-check-input(type='checkbox' ,id="2")
                                            .columns.middle
                                                img.w-full.h-full.object-contain(src='https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589',id="2_img")
                                            .columns.right
                                                p.text-product(id="2_desc") Testing 2
                                        .row
                                            .columns.left
                                                div.form-check
                                                    input.check-product.form-check-input(type='checkbox' ,id="3")
                                            .columns.middle
                                                img.w-full.h-full.object-contain(src='https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589' ,id="3_img")
                                            .columns.right
                                                p.text-product(id="3_desc") Testing 3
                                                                                                                                            
                                div.modal-footer
                                    button#cancel_btn.btn.btn-primary(type='button' ) CANCEL
                                    button#add_product.btn.btn-primary(type='button'  disabled) ADD PRODUCT

                    div#productVariantPicker.modal.fade( tabindex='-1')
                        div.modal-dialog.modal-dialog-scrollable.modal-lg
                            div.modal-content
                                div.modal-header
                                    h5#exampleModalLabel.modal-title Select Variants                                       
                                   
                                    div.custom-control.custom-checkbox.niner
                                   
                                        input#selectall-variants.custom-control-input( type='checkbox' checked)
                                        label.mrk.custom-control-label(for="selectall-variants")
                                        p Select all                                        
                                p#variant_selected 0 selected    
                                div.modal-body
                                    div.modal-section
                                        div.modal-section-header
                                            input.check-variant.form-control(placeholder='Search for variants')
                                        .row
                                            .columns.left
                                                div.form-check
                                                    input.check-variant.form-check-input(type='checkbox' ,id="1")
                                            .columns.middle
                                                img.w-full.h-full.object-contain(src='https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589' ,id="1_img")
                                            .columns.right
                                                p.text-product(id="1_desc")  Testing 1
                                        .row
                                            .columns.left
                                                div.form-check
                                                    input.check-variant.form-check-input(type='checkbox' ,id="2")
                                            .columns.middle
                                                img.w-full.h-full.object-contain(src='https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589',id="2_img")
                                            .columns.right
                                                p.text-product(id="2_desc") Testing 2
                                        .row
                                            .columns.left
                                                div.form-check
                                                    input.check-variant.form-check-input(type='checkbox' ,id="3")
                                            .columns.middle
                                                img.w-full.h-full.object-contain(src='https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589' ,id="3_img")
                                            .columns.right
                                                p.text-product(id="3_desc") Testing 3
                                                                                                                                            
                                div.modal-footer
                                    button#cancel_btn.btn.btn-primary(type='button' ) CANCEL
                                    button#add_variant.btn.btn-primary(type='button'  disabled) ADD VARIANT

                    
                    div#productCollectiontPicker.modal.fade( tabindex='-1')
                        div.modal-dialog.modal-dialog-scrollable.modal-lg
                            div.modal-content
                                div.modal-header
                                    h5#exampleModalLabel.modal-title Select Collection                                       
                                   
                                    div.custom-control.custom-checkbox.niner
                                   
                                        input#selectall-collections.custom-control-input( type='checkbox' )
                                        label.mrk.custom-control-label(for="selectall-collections")
                                        p Select all                                        
                                p#collection_selected 0 selected    
                                div.modal-body
                                    div.modal-section
                                        div.modal-section-header
                                            input.form-control(placeholder='Search for collection')
                                        .row
                                            .columns.left
                                                div.form-check
                                                    input.check-collection.form-check-input(type='checkbox' ,id="1")
                                            .columns.middle
                                                img.w-full.h-full.object-contain(src='https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589' ,id="1_img")
                                            .columns.right
                                                p.text-product(id="1_desc")  Testing 1
                                        .row
                                            .columns.left
                                                div.form-check
                                                    input.check-collection.form-check-input(type='checkbox' ,id="2")
                                            .columns.middle
                                                img.w-full.h-full.object-contain(src='https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589',id="2_img")
                                            .columns.right
                                                p.text-product(id="2_desc") Testing 2
                                        .row
                                            .columns.left
                                                div.form-check
                                                    input.check-collection.form-check-input(type='checkbox' ,id="3")
                                            .columns.middle
                                                img.w-full.h-full.object-contain(src='https://cdn.shopify.com/s/files/1/0476/4431/1712/products/1653038563130.jpg?v=1653038589' ,id="3_img")
                                            .columns.right
                                                p.text-product(id="3_desc") Testing 3
                                                                                                                                            
                                div.modal-footer
                                    button#cancel_btn.btn.btn-primary(type='button' ) CANCEL
                                    button#add-collection.btn.btn-primary(type='button'  disabled) ADD COLLECTION

                    
                    div.row 
                        div.col-12.d-flex.justify-content-end
                            if(automatic_discount)
                                button.delete_discount.px-3.btn.btn-primary.me-4(type="button",id=`${automatic_discount?automatic_discount.id:''}` ,store_id = `${store_id}`) DELETE DISCOUNT
                            button.btn.btn-primary.me-4(type="submit") CREATE DISCOUNT
block scripts
    script(type='text/javascript', src='/assets/js/custom/automatic_discount.js')
    script(type='text/javascript', src='/assets/js/custom/common.js')
